:root {
    --main-text-color: #434455;
    --title-text-color: #2e2f42;
    --primary-brand: #4d5ae5;
    --accent-color: #e7e9fc;
    --light-mode: #f4f4fd;
    --pressed-state: #404bbf;
    --main-bg-color: #ffffff;
    --secondary-bg-color: #f4f4fd;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

/*---------------------- INDEX.HTML--------------------- */
/* -----------------------HEADER----------------------- */

.header-page {
    border-bottom: 1px solid var(--accent-color);
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.box {
    display: flex;
    align-items: center;
}

/* -------MENU OF NAVIGATION--------- */

.nav-item {
    display: flex;
    align-items: center;
    margin-right: auto;
    gap: 40px;
}

.logo {
    display: block;
    

    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand);
}

.nav-item .logo{
    margin-right: 76px;
}

.dark-text {
    color: var(--title-text-color);
}

.site-nav {
    display: flex;
    gap: 40px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* .site-nav>.item {
    padding-top: 24px;
    padding-bottom: 24px;
} */

.site-nav .link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--pressed-state);
}

/* -------------------CONTACTS-------------- */

.contacts {
    margin-left: auto;

    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contacts-item {
    display: flex;
    gap: 40px;
}

.contacts .link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--main-text-color);
}

.contacts .link:hover,
.contacts .link:focus {
    color: var(--pressed-state);
}

/* -----------------------/HEADER----------------------- */
/* -----------------------MAIN----------------------- */
/* ----------------------ALL SECTION------------------------- */
.section {
    padding-bottom: 120px;
    padding-top: 120px;
}


/* -----------------------HERO----------------------- */
.section:nth-child(1) {
    padding: 188px 0px;

    background-color: var(--title-text-color);

    text-align: center;
}

.main-title {
    max-width: 496px;
    margin: 0 auto 48px;

    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--main-bg-color);
}

/* -----------BUTTON ORDER----------------- */

.order-btn {
    display: block;

    cursor: pointer;
    margin: 0 auto;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    color: var(--main-bg-color);
    background: var(--primary-brand);

    border-radius: 4px;
    border: 0px;
    padding: 16px 32px;
    min-width: 169px;

}

.order-btn:hover,
.order-btn:focus {
    background-color: var(--pressed-state);
}

/* -----------------------/HERO----------------------- */
/* -----------------------TEXT PARAMETERS----------------------- */

/* --------H2---------- */

.section-title {
    margin-bottom: 72px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--title-text-color);
}

/* -------H3---------- */

.section-description {
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.section-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* -----------------SECTION FEATURES------------------------ */

.features-item {
    display: flex;
    gap: 24px;
}

/* FEATURES ITEM WIDTH CALCULATED */
.features-item .item {
    width: calc((100%-72px)/4);
}

/* -----------------/FEATURES------------------------ */
/* -----------------SECTION SKILS----------------------- */

.section:nth-child(3) {
    padding-top: 0px;
}

.skils-item {
    display: flex;
    gap: 24px;
}

/* SKILS ITEM WIDTH CALCULATED */
.skils-item .item {
    width: calc((100%-48px)/3);
}

/* -----------------/SKILS----------------------- */
/* -----------------SECTION TEAM----------------------- */

.section:nth-child(4) {
    background-color: var(--secondary-bg-color);
}

.team-item {
    display: flex;
    gap: 24px;
}

.team-item .card-bgc {
    width: calc((100%-72px)/4);
}


.card-bgc {
    background-color: var(--main-bg-color);

    text-align: center;
}

.card-pad {
    padding-top: 32px;
    padding-bottom: 32px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;


}

/* -----------------TEAM SOCIAL LIST---------- */
.team-social-list{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-list-item{
    display: flex;
    align-items: center;
    margin: 0;
}

.team-social-link {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--primary-brand);
}

.social-link{
    fill: var(--accent-color);
}

/* ---------------------------CUSTOMERS---------------- */

.customers-list{
    display: flex;
    gap: 24px;
}



/* -----------------------/MAIN----------------------- */
/* -----------------------FOOTER----------------------- */
.footer {
    padding-bottom: 100px;
    padding-top: 100px;
    background-color: var(--title-text-color);
}

.light-text {
    color: var(--light-mode);
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.footer .container .logo {
    display: inline-block;

    margin-bottom: 16px;
}

.footer .container .footer-text {
    width: 264px;
}

/* -----------------------/FOOTER----------------------- */

/* ---------------PORTFOLIO PAGE--------------------------- */
/* ---------LIST OF BUTTONS------------------- */

.section-p {
    padding-top: 96px;
    padding-bottom: 120px;
}

.filter-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}


/* --------------BUTTONS------------------- */

.filter-button {
    padding: 12px 24px;

    border: 1px solid var(--accent-color);
    border-radius: 4px;
    color: var(--primary-brand);
    background-color: var(--light-mode);

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.filter-button:hover,
.filter-button:focus {
    background-color: var(--pressed-state);
    border: 1px solid transparent;
    color: var(--main-bg-color);
    cursor: pointer;
}

/* --------------/BUTTONS------------------- */
/* ---------------LIST OF EXAMPLES---------- */

.examples {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.examples .item {
    max-width: calc((100%-2*24px)/3);
}

/* .examples .item:nth-child(3n) {
    margin-right: 0px;
}

.examples .item:nth-last-child(-n+3) {
    margin-bottom: 0px;
} */

/* ------------DESIGN FOR BOTTOM SIDE OF CARD------ */

.card-sign {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    border: 1px solid var(--accent-color);
    border-top: none;
}

.example-description {
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color);

}

.card-sign .section-text{
    color: var(--main-text-color);
}